.header-container {
  height: 150px;
  display: flex;
  justify-items: center;
  background-color: #fddb00;
}

.header-nav-buttons {
  display: flex;
  justify-content: flex-end;
  min-width: 40%;
}

.header-nav-buttons a {
  text-decoration: none;
  color: #070400;
  font-family: 'PT Sans', sans-serif;
  font-size: 25px;
  font-weight: 900;
  margin-left: 50px;
}

.header-nav-hero {
  display: flex;
  text-decoration: none;
  color: #070400;
  margin-right: 50px;
}

.header-nav-hero img{
  margin-right: 10px;
}


.header-nav {
  font-family: 'PT Sans', sans-serif;
  font-size: 30px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

@media only screen and (max-width: 600px) {
}
